<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studinotes.AdapterClass">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <application
        android:name="com.studinotes.Utils.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.studinotes.Activities.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.studinotes.Activities.Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.ForgotPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.ResetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.Setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.Suggestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.Feedback"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.Report"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.AdapterClass.StudyNotesFoldersOnClick_tabs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.studinotes.Activities.ViewFile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true"></activity>
        <activity android:name="com.studinotes.Activities.ActivityNotepad"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"

          ></activity>

        <activity android:name="com.studinotes.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.studinotes.MosaicDemo"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.studinotes.guide.DoodleGuideActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.studinotes.ScaleGestureItemDemo"
            android:theme="@android:style/Theme.NoTitleBar"/>



    </application>

</manifest>